@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/Okul_Layout.cshtml";
}
@model ServisTakip.Models.ViewModel
<h2>Anasayfa</h2>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />